<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>584141500398-o1k8rhma7df09rkh2den2mmgjqacf21e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoDc5datJv3NVWF5pYNb4jB9RneoTsdns</string>
	<key>GCM_SENDER_ID</key>
	<string>584141500398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.circlecareappbundleid</string>
	<key>PROJECT_ID</key>
	<string>circlecare-a52c7</string>
	<key>STORAGE_BUCKET</key>
	<string>circlecare-a52c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584141500398:ios:213ebbb2fa0825b8f1e8ff</string>
</dict>
</plist>